/* body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.App {
  text-align: center;
}

section {
  padding: 60px 20px;
}

h2 {
  margin-bottom: 30px;
  font-size: 2em;
  color: #333;
}

a {
  color: #007bff;
  text-decoration: none;
}

.project-card {
  background: #fff;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
} */